<!DOCTYPE html>
<html>

<head>
    <title>{{pageInfo.title}}</title>
    <!--声明文档使用的字符编码-->
    <meta charset="UTF-8">
    <!--网站关键字及描述，利于seo-->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--启用viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--启用WebApp全屏模式-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--ios添加到主屏幕的标题-->
    <meta name="apple-mobile-web-app-title" content="标题" />
    <!--解决iOS4.3版本中safari对页面中5位数字的自动识别和自动添加样式-->
    <meta name="format-detection" content="telephone=no" />
    <!--禁止Android自动识别页面中的邮件地址-->
    <meta name="format-detection" content="email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!--网站左上角显示的icon，大小为32*32-->
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="favicon.ico" rel="bookmark" />
    <!--ios添加到主屏幕的icon（为了兼容所有ipad,ipod,iphone,以及Retina。需要57*57, 72*72, 114*114, 144*144, 180*180五种尺寸的icon）-->
    <!-- <link rel="apple-touch-icon-precomposed" href="57_57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72×72" href="72_72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114×114" href="114_114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144×144" href="144_144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="180×180" href="180_180.png" /> -->
    <link rel="stylesheet" type="text/css" href="http://zqmfcdn.huanhuba.com/publicH5/css/base.css">
    <!--flex 布局-->
    <!--link rel="stylesheet" type="text/css" href="http://zqmfcdn.huanhuba.com/publicH5/css/flex.css"-->
</head>

<body>
    {{{body}}}
    <script type="text/javascript" src="http://zqmfcdn.huanhuba.com/publicH5/lib/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://zqmfcdn.huanhuba.com/publicH5/lib/jquery/jquery-1.11.1.min.js"></script>

</body>

</html>
